<page-header [title]="'用户列表'" [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>系统管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>用户管理</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<ng-template #extraTemplate>
  <a nz-dropdown [nzDropdownMenu]="menu">
    More
    <i nz-icon nzType="down"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="loadData()">刷新</li>
    </ul>
  </nz-dropdown-menu>
</ng-template>

<nz-card [nzExtra]="extraTemplate"><!-- -->
  <nz-table #userListTable
            [nzFrontPagination]="false"
            [nzData]="userList"
            [nzLoading]="loading"
            [nzTotal]="page.totalCount"
            [(nzPageIndex)]="page.page"
            [(nzPageSize)] = "page.size"
            (nzPageIndexChange)="loadData()"
            (nzPageSizeChange)="loadData()"
            [nzShowSizeChanger]="true"
  >
    <thead nz-thead>
      <tr>
        <th nz-th>
          <span>序号</span>
        </th>
        <th nz-th>
          <span>用户名</span><!--l() 左对齐-->
        </th>
        <th nz-th>
          <span>描述</span>
        </th>
        <th nz-th>
          <span>照片</span>
        </th>
        <th nz-th>
          <span>操作</span>
        </th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let user of userListTable.data; let i = index;">
        <td nz-td>
          {{i + 1}}
        </td>
        <td nz-td>
          {{user.owner}}
        </td>
        <td nz-td>
          {{user.description}}
        </td>
        <td nz-td>
          {{user.title}}
        </td>
        <td nz-td>
          <nz-avatar nzSize="small" nzIcon="anticon anticon-user" [nzSrc]="user.avatar"></nz-avatar>
        </td>
        <td nz-td>
          <a nz-dropdown [nzDropdownMenu]="menu">
            操作
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>编辑</li>
              <nz-divider nzType="vertical"></nz-divider>
              <li nz-menu-item>删除</li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
