<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-plane.svg">
        <span class="title">Adcc</span>
      </div>
      <div class="desc">宝刀屠龙 号令天下 莫敢不从 倚天不出 谁与争锋</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer><!--[links]="links"-->
      Copyright ©
      <i class="anticon anticon-copyright"></i> 2020
      <a href="//www.11467.com/qiye/32160087.htm" target="_blank">民航数据通信有限责任公司</a>
    </global-footer>
  </div>
</div>
