<page-header [title]="'角色列表'" [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>系统管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>角色管理</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<nz-card>
  <div class="mb-md">
    <input nz-input [(ngModel)]="params.roleCode" name="name" nzPlaceHolder="请输入姓名" style="width: 200px;" class="mr-sm" />
    <button nz-button (click)="search();" [nzType]="'primary'">搜索</button>
    <button nz-button (click)="params = {roleCode: ''}; loadData();">重置</button>
  </div>
  <st #st [data]="roleList" [columns]="columns"></st>
</nz-card>
